## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## We have to force the syntax to xwiki/2.1 because of LiveData
##!source.syntax=xwiki/2.1
{{velocity}}
#set ($discard = $xwiki.jsrx.use('templates/changerequest/userprofile.js'))
#set ($currentUserDocSerialization = $services.model.serialize($doc.documentReference, "default"))
#set ($wikisList = $services.changerequest.getWikisWithChangeRequest($doc))
#if ($wikisList.isEmpty())

{{info}}
$services.localization.render('changerequest.user.profile.nowiki')
{{/info}}

#else
#if ($request.get('crWiki'))
  #set ($currentWiki = $request.get('crWiki'))
#else
  #set ($currentWiki = $wikisList.get(0).id)
#end

{{html}}
<h1>$escapetool.xml($services.localization.render('changerequest.user.profile.menu'))</h1>
<form id="userProfileChangeRequests" method="post" class="xformInline">
<div>
<label for="crWiki">$services.localization.render('changerequest.user.profile.switchWiki')</label>

<select name="crWiki" #if($wikisList.size() == 1)disabled="disabled"#end>
    #foreach($wikiDescriptor in $wikisList)
      #set ($wikiId = $wikiDescriptor.id)
      <option value="$wikiId" #if ($currentWiki == $wikiId)selected="selected"#end>$wikiDescriptor.prettyName</option>
    #end
</select>
</div>
</form>

<h2>$escapetool.xml($services.localization.render('changerequest.user.profile.authorcr.title'))</h2>
{{/html}}

{{liveData
  id="authored-changerequest-livetable"
  properties="doc.date,doc.title,authors,status,changedDocuments"
  source="liveTable"
  sourceParameters="resultPage=$currentWiki:XWiki.LiveTableResults&className=ChangeRequest.Code.ChangeRequestClass&translationPrefix=changerequest.livetable."
  sort="doc.date:desc"
  limit="10"
}}{
  "query": {
    "filters": [
    {
      "property": "authors",
      "matchAll": true,
      "constraints": [
        {"operator": "contains", "value": "$escapetool.json($currentUserDocSerialization)"}
      ]
    }
    ]
  },
  "meta": {
    "actions": [{
      "id": "edit",
       "allowProperty": "unexisting property"
    }]
  }
}
{{/liveData}}

{{html}}
<h2>$escapetool.xml($services.localization.render('changerequest.user.profile.approverscr.title'))</h2>
{{/html}}

{{liveData
  id="approvers-changerequest-livetable"
  properties="doc.date,doc.title,authors,status,changedDocuments,reviews"
  source="liveTable"
  sourceParameters="resultPage=$currentWiki:ChangeRequest.Code.ApproversChangeRequestResults&className=ChangeRequest.Code.ChangeRequestClass&userDoc=$currentUserDocSerialization&translationPrefix=changerequest.livetable."
  filters="status=ready_for_review"
  sort="doc.date:desc"
  limit="10"
}}{
  "meta": {
    "propertyDescriptors": [
    {
      "id": "reviews",
      "displayer": "html",
      "editable": false
    }
    ],
  "actions": [{
    "id": "edit",
    "allowProperty": "unexisting property"
  }]
  }
}
{{/liveData}}

#end
{{/velocity}}